<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
      <% if(errors.length>0){ %>
        <p><%= errors %></p>
        <% } %> 
    <a href="/api/users/login">Login Here !!</a> <br>
    <a href="/api/users/register">Register Here !!</a>
    
  </body>
</html>
